{% extends "badger/base.html" %}
{% load i18n %}

{% block pageid %}badge_award{% endblock %}

{% block content %}
<div class="page-header">
    <h2>{% trans "Award badge" %}</h2>
</div>
<section class="well">
    {% include "badger/includes/badge_full.html" %}
</section>
<form id="award_badge" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
        <li><input type="submit" class="submit" value="{% trans  "Award badge" %}"></li>
    </ul>
</form>

{% endblock %}
