{% load badger_tags %}
<div class="badges row">
    {% for award in award_list %}
            <div class="span2">
                <div class="well badge-detail">
                    <a href="{{ award.get_absolute_url }}" class="image"><img src="{% award_image award %}"
                        alt="{{ award.badge.title }}" width="128" height="128" /></a>
                    <h2><a href="{{ award.get_absolute_url }}" class="">
                        <span class="title">{{ award.badge.title }}</span></a>
                    </h2>
                </div>
            </div>
    {% endfor %}
</div>
{% include "badger/includes/pagination.html" %}
