<div class="badges row">
    {% for badge in badge_list %}
    <div class="span2">
        <div class="badge-detail well">
            <a href="{{ badge.get_absolute_url }}" class="image">
            {% if badge.image %}
                <img src="{{badge.image.url}}" 
            {% else %}
                <img src="/media/img/default-badge.png"
            {% endif %}
        
                alt="{{ badge.title }}" width="128" height="128" /></a>
            <h3 class="center"><a href="{{ badge.get_absolute_url }}" class=""><span class="title">{{ badge.title }}</span></a></h3>
        </div>
    </div>
    {% endfor %}
</div>
